<div class="sign">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "rounded" %>
  </div>

  <div class="field">
    <%=f.label :zip_code %> <br />
    <%= f.collection_select(:zip_code_id, ZipCode.all, :id, :zip_code) %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "rounded" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "rounded" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "rounded button" %>
  </div>
<% end %>


<%= render "devise/shared/links" %>
</div>